.btn{
    .find{
        text-align: center;
        cursor: pointer;
        width: 300px;
        display: inline-block;
        border-radius: 30px;
        padding: 10px 20px;
        background: #A95EFA;
        color: #fff;
        font-size: 15px;
        margin: 25px 0;
    }
    .facebook{
        text-align: center;
        cursor: pointer;
        width: 300px;
        display: inline-block;
        border-radius: 30px;
        padding: 10px 20px;
        background: #0002fc;
        color: #fff;
        font-size: 15px;
        margin: 25px 0;
    }
}