.emailbox{
    display: none;
    justify-content: center;
  }
  .emailadd{
      display: none;
      @media(max-width:768px){
          width: 250px;
          margin-left: 0;
      }
    background-color: #fff;
    width: 290px;
    height: 55px;
    border: none;
    margin-left: 30px;
    padding: 0 20px;
    outline: none;
  }
  .line{
      width: 500px;
      height: 1px;
      background-color: #fff;
      margin: 15px 40px;
      position: relative;
}
.lines{
    width: 500px;
    height: 1px;
    background-color: #fff;
    margin: 15px 40px;
    position: absolute;
    bottom: 140px;
    right: 480px;
}
.email{
    width: 350px;
    height: 50px;
    border-radius: 15px;
    background-color: #2F293E;
    border: none;
    text-indent: 20px;
    margin: 45px;
    
}
::placeholder{
    color:white;
}
.line{
    width: 475px;
    height: 2px;
    background-color: #fff;
    position: absolute;
}
.lines{
    width: 200px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 120px;
}
.orange_cap_line{
    width: 170px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 40px;
    right: 20px;
}
